<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Magazine News</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/assetsedu/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="static/assetsedu/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/assetsedu/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/assetsedu/css/slicknav.css">
    <link rel="stylesheet" href="static/assetsedu/css/flaticon.css">
    <link rel="stylesheet" href="static/assetsedu/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="static/assetsedu/css/gijgo.css">
    <link rel="stylesheet" href="static/assetsedu/css/animate.min.css">
    <link rel="stylesheet" href="static/assetsedu/css/animated-headline.css">
	<link rel="stylesheet" href="static/assetsedu/css/magnific-popup.css">
	<link rel="stylesheet" href="static/assetsedu/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="static/assetsedu/css/themify-icons.css">
	<link rel="stylesheet" href="static/assetsedu/css/slick.css">
	<link rel="stylesheet" href="static/assetsedu/css/nice-select.css">
	<link rel="stylesheet" href="static/assetsedu/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/assetsedu/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top ">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-lg-between align-items-center">
                                <div class="header-info-left">
                                    <li class="d-none d-lg-block">
                                     </li>
                                </div>
                                <div class="header-info-mid">
                                    <!-- logo -->
                                    <div class="logo">
                                        <a href="index.html"><img src="static/assetsedu/img/logo/logo.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                   <ul>
                                       <li><a href="about.html">About</a></li>
                                       <li><a href="contact.html">Contact</a></li>
                                   </ul>
                                   <!-- Social -->
                                   <div class="header-social">
                                        <a href="https://twitter.com/ams_int"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/AMS.Benha/videos/?ref=page_internal"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12">
                              <center><h1 class="l"> 𝒶𝓂𝓈 𝓂𝒶𝑔𝒶𝓏𝒾𝓃𝑒</h1></center>
                                <!-- logo 2 -->
                                <div class="logo2">
                                    <a href="index.html"><img src="static/assetsedu/img/logo/logo.png" alt=""></a>
                                </div>
                                <!-- logo 3 -->
                                <div class="logo3 d-block d-sm-none">
                                  <!-- <center><h1 class="l"> 𝒶𝓂𝓈 𝓂𝒶𝑔𝒶𝓏𝒾𝓃𝑒</h1></center> -->
                                    <a href="index.html"><img src="static/assetsedu/img/logo/logo-mobile.png" alt=""></a>
                                </div>
                                <!-- Main-menu -->
                                <div class="main-menu text-center d-none d-lg-block">

                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Banner News Area Start -->
        <div class="banner-news">
            <div class="container-fluid p-0">
                <div class="banner-slider-active no-gutters ">
                    <div class="single-sliders">
                        <div class="single-baner-nw mb-30 text-center">
                            <div class="banner-img-cap">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/banner-cap1.png" alt="">
                                    <!--video iocn -->
                                    <div class="video-icon">
                                        <a href="https://www.facebook.com/watch/?v=679966626789398"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="banner-cap">
                                    <p>Only In AMSg</p>
                                    <h3><a href="#">Celebrating different cultures</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sliders">
                        <div class="single-baner-nw mb-30 text-center">
                            <div class="banner-img-cap">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/banner-cap9.png" alt="">
                                </div>
                                <div class="banner-cap">
                                    <p>Only In AMS</p>
                                   <h3><a href="{{ url_for('post_details') }}">Joining life-changing movements</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sliders">
                        <div class="single-baner-nw mb-30 text-center">
                            <div class="banner-img-cap">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/banner-cap3.png" alt="">
                                    <!--video iocn -->
                                    <div class="video-icon">
                                        <a href="https://www.facebook.com/watch/?v=6683328091739502"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="banner-cap">
                                    <p>Only In AMS</p>
                                    <h3><a href="#">Celebrating New Year's</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sliders">
                        <div class="single-baner-nw mb-30 text-center">
                            <div class="banner-img-cap">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/banner-cap4.png" alt="">
                                </div>
                                <div class="banner-cap">
                                    <p>Only In AMS</p>
                                    <h3>
                                      <a href="#">Students engaging in important meetings</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sliders">
                        <div class="single-baner-nw mb-30 text-center">
                            <div class="banner-img-cap">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/banner-cap2.png" alt="">
                                    <!--video iocn -->
                                    <div class="video-icon">
                                        <a href="https://www.facebook.com/watch/?v=356157896411209"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="banner-cap">
                                    <p>Only In AMS</p>
                                    <h3><a href="#">Visiting exquisite locations</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner News Area End -->
        <!-- Latest Posts Area -->
        <div class="latest-posts pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Latest Posts</h2>
                        </div>
                    </div>
                </div>
                <!-- Slider -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="latest-slider">
                            <div class="slider-active">
                                <!-- Single slider -->
                                <div class="single-slider">
                                    <div class="trending-top mb-30">
                                        <div class="trend-top-img text-center">
                                            <img src="static/assetsedu/img/gallery/latest-post.png" alt="">
                                            <div class="trend-top-cap">
                                                <span class="bgr" data-animation="fadeInUp" data-delay=".2s" data-duration="1000ms">Only In AMS</span>
                                                <h2><a href="post_details.html" data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms">Let's take a moment to arrange our thoughts.</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single slider -->
                                <div class="single-slider">
                                    <div class="trending-top mb-30">
                                        <div class="trend-top-img text-center">
                                            <img src="static/assetsedu/img/gallery/latest-post.png" alt="">
                                            <div class="trend-top-cap">
                                                <span class="bgr" data-animation="fadeInUp" data-delay=".2s" data-duration="1000ms">Only In AMS</span>
                                                <h2><a href="post_details.html"  data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms">Let's take a moment to arrange our thoughts.</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- smoll items -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-baner-nw2 mb-30 ">
                                    <div class="banner-img-cap2">
                                        <div class="banner-img">
                                            <img src="static/assetsedu/img/gallery/latest-post2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-baner-nw2 mb-30">
                                    <div class="banner-img-cap2">
                                        <div class="banner-cap2 banner-cap3">
                                            <p>Only In AMS</p>
                                           <h3><a href="{{ url_for('post_details3') }}">Arabic Report</a></h3>
                                            <p class="normal">Having disabilities isn't a shame since everyone is different.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-baner-nw2 mb-30">
                                    <div class="banner-img-cap2">
                                        <div class="banner-cap2 banner-cap3">
                                            <p>Only In AMS</p>
                                            <h3><a href="https://www.facebook.com/watch/?v=482244400262870">Activities In The Line</a></h3>
                                            <p  class="normal">"The Quality Of A Life Is Determined By Its Activities"
                                            ~Aristotle</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-baner-nw2 mb-30 ">
                                    <div class="banner-img-cap2">
                                        <div class="banner-img">
                                            <img src="static/assetsedu/img/gallery/latest-post02.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-baner-nw2 mb-30 text-center">
                            <div class="banner-img-cap2">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/latest-post3.png" alt="">
                                </div>
                                <div class="banner-cap2">
                                    <p>Only In AMS</p>
                                    <h3><a href="{{ url_for('post_details2') }}">Studying Science</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-baner-nw2 mb-30 text-center">
                            <div class="banner-img-cap2">
                                <div class="banner-img">
                                    <img src="static/assetsedu/img/gallery/latest-post4.png" alt="">
                                </div>
                                <div class="banner-cap2">
                                    <p>Only In AMS</p>
                                    <h3><a href="{{ url_for('post_details_Copy') }}">Book Review</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest Posts End-->
        <!-- Video Area Start -->

        <!-- Want To work End --> -->

    </main>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="header-area">
                <div class="main-header ">
                    <div class="header-top d-lg-block d-none">
                       <div class="container">
                           <div class="col-xl-12">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="header-info-left d-flex justify-content-center">
                                        <!-- Social -->
                                        <div class="header-social">
                                            <a href="https://twitter.com/ams_int"><i class="fab fa-twitter"></i></a>
                                            <a href="https://www.facebook.com/AMS.Benha/videos/?ref=page_internal"><i class="fab fa-facebook-f"></i></a>
                                        </div>
                                    </div>
                                    <div class="header-info-mid">
                                        <!-- logo -->
                                        <div class="logo">
                                            <a href="index.html"><img src="static/assetsedu/img/logo/logo.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="header-info-right d-flex align-items-center">
                                       <ul>
                                           <li><a href="about.html">About</a></li>
                                           <li><a href="contact.html">Contact</a></li>
                                       </ul>
                                    </div>
                                </div>


        <!-- Footer End-->
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./static/assetsedu/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/assetsedu/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/assetsedu/js/popper.min.js"></script>
    <script src="./static/assetsedu/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/assetsedu/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/assetsedu/js/owl.carousel.min.js"></script>
    <script src="./static/assetsedu/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./static/assetsedu/js/wow.min.js"></script>
    <script src="./static/assetsedu/js/animated.headline.js"></script>
    <script src="./static/assetsedu/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./static/assetsedu/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./static/assetsedu/js/jquery.nice-select.min.js"></script>
    <script src="./static/assetsedu/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="./static/assetsedu/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./static/assetsedu/js/jquery.counterup.min.js"></script>
    <script src="./static/assetsedu/js/waypoints.min.js"></script>
    <script src="./static/assetsedu/js/jquery.countdown.min.js"></script>
    <script src="./static/assetsedu/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./static/assetsedu/js/contact.js"></script>
    <script src="./static/assetsedu/js/jquery.form.js"></script>
    <script src="./static/assetsedu/js/jquery.validate.min.js"></script>
    <script src="./static/assetsedu/js/mail-script.js"></script>
    <script src="./static/assetsedu/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./static/assetsedu/js/plugins.js"></script>
    <script src="./static/assetsedu/js/main.js"></script>

    </body>
</html>
